[mysqld]
datadir      = /opt/myxampp/mariadb/data
socket       = /opt/myxampp/var/run/mysql.sock
pid-file     = /opt/myxampp/var/run/mysqld.pid
log_error    = /opt/myxampp/logs/mariadb_error.log
port         = 3306
bind-address = 127.0.0.1
max_connections         = 100
innodb_buffer_pool_size = 64M
character-set-server    = utf8mb4
collation-server        = utf8mb4_unicode_ci
[client]
socket = /opt/myxampp/var/run/mysql.sock
port   = 3306
